.myprofil-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

    .myprofil-photo{
        display: flex;
        flex-direction: column;
        width: 15;
        height: 15vh;
        border-radius: 50px;


    }
    
    .myprofil-info{
        display: flex;
        flex-direction: row;
        justify-content: center;

        .myprofil-text{
            display: flex;
            flex-direction: column;
            margin-left: 20px;

            .myprofil-name{
                font-size: 25px;
                
            }

            .myprofil-country{
                font-size: 15px;
                color:grey;
            }

            .myprofil-followers{
                font-weight: bolder;
                
            }
        }
        
    }


    .profil-gallery{
        background-color: blue;
        width: 100vw;
        height: 200vh;
        margin-top: 20px;
    }

}