.myprofil-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 500px;

    .myprofil-photo{
        display: flex;
        flex-direction: column;
        width: 15;
        height: 15vh;
        border-radius: 50px;
        cursor: pointer;


    }
    
    .myprofil-info{
        display: flex;
        flex-direction: row;
        justify-content: center;

        .myprofil-text{
            display: flex;
            flex-direction: column;
            margin-left: 20px;

            .myprofil-name{
                font-size: 25px;
                
            }

            .myprofil-country{
                font-size: 15px;
                color:grey;
            }

            .myprofil-followers{
                font-weight: bolder;
                
            }
        }
        
    }


    .profil-gallery{
        // background-color: rgb(192, 192, 208);
        width: 100vw;
        height: 100vh;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap:15px;

        img{
            width: 28%;
            height: 40%;
            margin: 10px 0;
            

        }
    }

}