.comments-container{
    margin: 10px;
    
    .comment{

        margin: 10px;
        overflow: hidden;
    
    .comments-user{

    }

    .comments-text{

    }


    .comments-date{
        font-size: 10px;
    }

    }
}