.comments-container{
    margin: 10px;
    overflow:scroll;
    height: 70vh;
    
    .comment{

        margin: 10px;
        overflow: hidden;
    
    .comments-user{

    }

    .comments-text{
        
    }


    .comments-date{
        font-size: 10px;
    }

    i{
        margin-left: 5px;
        cursor: pointer;
        transition: 0.6s ease;
    }

    .likes{
         font-size: 20px;
         color: #1160e8;
        
    }

    .unlikes{
        font-size: 20px;
        color:red;
    }

    }
}