.header-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80vh;
    width: 70vw;
    justify-content: center;
  


    .header-friend-logo{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        height: auto;
        overflow: scroll;
        

        .header-friend-photo{
            border: 3px solid orangered;
            border-radius: 30px;
        }

        li{
            list-style: none;
            margin: 10px;
            transition: 1s ease;
            cursor: pointer;
        }
    }

    li:hover{
        transform: scale(1.2);
    }




    .header-main{
        
        width: 70%;
        height: 70vh;
        margin-top: 20px;
    }

    .header-link-right{

      

        width: 30%;
        height: 70vh;
    }
}