.main-container{

    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;


    img{

        
        width: 30vw;
        height: 30vh;
        object-fit: contain;
    }
}