.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;


    img{

        width: 40%;
        height: 30%;
        object-fit: contain;
    }
}