.nav-container{
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    .nav-logo{
        width: 20vw;

        .logo{
            width: 100%;
        }
    }

    .search{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30vw;
       

        .search-icon{
            align-items: baseline;
            transform: scale(0.3);
        }

        
        

    }

}