.nav-container{
    width: 80vw;
    height: 10vh;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    // justify-content: center;
    align-items: center;
    


    .nav-search{
        display: flex;
        justify-content: center;
        align-items: center;


        .search-icon{
            width: 20%;
            transform: scale(0.1);
        }

        span{
            margin-right: 20px;
        }
    }

    i{
        margin-left: 10px;
    }


    .nav-logo{
        width: 20%;

        .logo{
            width: 100%;
        }


    }

      

    

        
        

    }

