.nav-container{
    width: 80vw;
    height: 10vh;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    .nav-logo{
        width: 20vw;

        .logo{
            width: 100%;
        }
    }

        .search-icon{
            width: 30%;
            transform: scale(0.1);
        }

        span{
            margin-right: 20px;
        }

    

        
        

    }

