.profil-name{
    font-size: larger;
}

.profil-info{
    font-weight: 800;
    
}


.profil-photo{
    border: 2px solid orange;
    border-radius: 30px;
    padding: 2px;
    object-fit:cover;
    
}