.profil-name{
    font-size: larger;
}

.profil-info{
    font-weight: 800;
    
}

.profil-card-up{
    display: flex;
    flex-direction: row;
}


.profil-photo{
    border: 2px solid orange;
    border-radius: 30px;
    padding: 2px;
    object-fit:cover;
    
}