.profil-container{
    width: 100%;
    height: 80vh;
    

    i {
        position:sticky;
        top:50px;
        left: 50%;

    }
    
}

.profil-name{
    font-size: larger;
}

.profil-info{
    font-weight: 800;
    
}

.profil-card{
    width: 100%;
    height: 100%;

    .profil-main-photo{
        width: 30%;
    
    }
}

.profil-card-up{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

    .profil-card-name{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
}


.profil-photo{
    border: 2px solid orange;
    border-radius: 30px;
    padding: 2px;
    object-fit:cover;
    
}